.ng-invalid.ng-touched {
  border: 2px solid red;
}

.ng-valid.ng-touched {
  border: 2px solid green;
}

span {
  color: red;
  font-size: 14px;
}

div {
  color: green;
  margin-top: 15px;
  font-weight: bold;
}